
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.minilogo{
    width: 50px;
}
.minilogo1{
    width: 1000px;
}

header{
    font-family:'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    padding: 10px;
    color: #FFECE8;
    background-color: #FF7050;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
}

.navlinks {
    list-style: none;
    justify-content:start;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    justify-content:start;
}

.navlinks li {
    display: inline-block;
    align-items: start;
    width: 160px;
    text-decoration: none;
}

.signin {
    justify-content:end;
}
main {
    margin-top: 86px;
    width: 100%;
    
}

body {
    background-color: #817E81;
    font-family:'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    text-decoration: none;
    display: flex;
    padding: 10px;
    color: #FFECE8;
}

.line {
    border: 1px solid #FFECE8;
    width: 100%;

}

form {
    float: left;
    width: 40%;
}

form input {
    font-size: 14px;
    color: #333;
    padding: 8px;
}

h1 {
    text-align: center;
    float: left;
}
